@import "../../antd.customize.less";

.stable-margin {
    margin-top: 30px !important;
}

.stability-card {
    display: flex;
    justify-content: center;
}

.stability-space {
    display: flex;
    justify-content: space-between;
}

.stability-hr {
    margin: 16px -15px;
    border-color: #8F8F8F;
}

.font-middle {
    justify-content: center;
}

.comp-between {
    margin-right: 5px;
}



// .ant-card-body {
//     background: rgba(38, 40, 55, 0.36) !important;
//     border-radius: 20px;
//     border: 1px solid #8F8F8F;
// }

.myButton {
    border-radius: 10px !important;
    padding: 5px 25px !important;
    background-color: #0BA9B0 !important;
    cursor: pointer !important;
    border: 0 !important;
    color: #FFFFFF !important;
    font-size: 14 !important;
  }

.ant-card-row {
    box-sizing: border-box;
    margin: 5px 0px;
    min-width: 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;

    .card-cell {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      box-sizing: border-box;
      text-align: left;
      margin: 0px;
      min-width: 0px;
      font-size: 14px;
    }

    .left {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    .small {
      font-size: 11px;
    }
  }



.ant-modal-body {
  background: rgba(34, 39, 47, 1) !important;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 20px !important;
  border-bottom-left-radius: 20px !important;
}